.navbar-custom {
  background-color: #003865;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-text,
.navbar-custom .dropdown-toggle {
  color: #ffffff;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link:focus,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .dropdown-toggle:hover,
.navbar-custom .dropdown-toggle:focus {
  color: #d6e8ff;
}

.navbar-custom .nav-link.active {
  color: #ffffff;
  font-weight: 600;
  border-bottom: 2px solid #ffffff;
}

.navbar .dropdown-menu {
  min-width: 14rem;
}

.navbar .nav-login-link {
  padding-right: 1em !important;
}

.table td form {
  margin-bottom: 0;
}

.table td .btn {
  white-space: nowrap;
}

.jobs-actions {
  display: flex;
  justify-content: flex-end;
}

.job-history-daterange {
  min-width: 16rem;
}
