{% extends 'layout.html' %}

{% block body %}
  <h2>Completed Print Jobs</h2>

  <div class="btn-group">
    {% if filters == None %}
      <a href="/jobscompleted?daterange={{ daterange }}" class="btn btn-primary active">Any Status</a>
      <a href="/jobscompleted?filters=printed&daterange={{ daterange }}" class="btn btn-primary">Completed Only</a>
    {% else %}
      <a href="/jobscompleted?daterange={{ daterange }}" class="btn btn-primary">Any Status</a>
      <a href="/jobscompleted?filters=printed&daterange={{ daterange }}" class="btn btn-primary active">Completed Only</a>
    {% endif %}
  </div>

  <form class="form-inline float-right">
    <div class="form-group mx-sm-3 mb-2">
      <label for="daterange" class="sr-only">Date Range:</label>
      <input type="text" name="daterange" id="daterange" value="{{ daterange }}" class="form-control" />
    </div>
    {% if filters != None %}
    <input type="hidden" name="filters" id="filters" value="{{ filters }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary mb-2">Go</button>
  </form>

  <script>
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    });
  });
  </script>

  <br><br>

  <table class="table table-striped">
    <tr>
      <th class="text-center">Job</th>
      <th>User</th>
      <th>Document</th>
      <th>Printer</th>
      <th>Size</th>
      <th>Sheets</th>
      <th>Time completed</th>
      <th>Status</th>
    </tr>
    {% for job in jobs%}
    <tr>
      <td class="align-middle text-center"><a href="jobs/{{job['job-id']}}" >{{job['job-id']}}</a></td>
      <td class="align-middle">{{ job.get('job-originating-user-name', '') | truncate(12) }}</td>
      <td class="align-middle">{{ job.get('job-name', '') | truncate(25, True) }}</td>
      <td class="align-middle">{{ job.get('job-printer-uri', '') | queuefromuri | truncate(20, True) }}</td>
      <td class="align-middle">{{ (job['job-k-octets']*1024) | filesizeformat }}</td>
      <td class="align-middle">{{ job.get('job-media-sheets-completed', 0) }}</td>
      <td class="align-middle">{{ job.get('time-at-completed', 'None') | datetimefilter }}</td>
      <td class="align-middle">{{ job.get('job-state', 0) | jobstate }}</td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}
