{% extends 'layout.html' %}

{% macro sort_link(column, title, sort, order_next) %}
{% if column == sort %}
  <a href="/jobs?sort={{ column }}&order={{ order_next }}">{{ title }}</a>
{% else %}
  <a href="/jobs?sort={{ column }}&order=asc">{{ title }}</a>
{% endif %}
{% endmacro %}

{% block body %}
  <h2>Active Print Jobs <a id="countdown" class="btn btn-success float-right" href="{{ request.url }}"></a></h2>

  <br>

  <table id="jobs" class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Job</th>
      <th>{{ sort_link('job-originating-user-name', 'User', sort, sort_order_next) }}</th>
      <th>{{ sort_link('job-name', 'Document', sort, sort_order_next) }}</th>
      <th>{{ sort_link('job-printer-uri', 'Printer', sort, sort_order_next) }}</th>
      <th>{{ sort_link('job-k-octets', 'Size', sort, sort_order_next) }}</th>
      <th>{{ sort_link('page-count', 'Pages', sort, sort_order_next) }}</th>
      <th>{{ sort_link('time-at-creation', 'Time submitted', sort, sort_order_next) }}</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs%}
    <tr>
      <td class="align-middle text-center"><a href="jobs/{{job['job-id']}}" >{{job['job-id']}}</a></td>
      <td class="align-middle">{{ job.get('job-originating-user-name', '') | truncate(12) }}</td>
      <td class="align-middle">{{ job.get('job-name', '') | truncate(25, True) }}</td>
      <td class="align-middle">{{ job.get('job-printer-uri', '') | queuefromuri | truncate(20, True) }}</td>
      <td class="align-middle">{{ (job.get('job-k-octets', 0)*1024) | filesizeformat }}</td>
      <td class="align-middle">{{ job.get('page-count', 0) }}</td>
      <td class="align-middle">{{ job.get('time-at-creation', 'None') | datetimefilter }}</td>
      <td class="align-middle">{{ job.get('job-state', 0) | jobstate }}</td>
      <td>
        <form action="{{url_for('release_job', id=job['job-id'])}}" method="post">
          <input type="hidden" name="_method" value="RELEASE">
          <input type="hidden" name="sort" value="{{ sort }}">
          <input type="hidden" name="sort_order" value="{{ sort_order }}">
          <input type="submit" value="Release" class="btn btn-success">
        </form>
        {% if advanced > 0 %}
        <br>
        <form action="{{ url_for('cancel_job', id=job['job-id']) }}" method="post">
          <input type="hidden" name="_method" value="CANCEL">
          <input type="hidden" name="sort" value="{{ sort }}">
          <input type="hidden" name="sort_order" value="{{ sort_order }}">
          <input type="submit" value="Cancel" class="btn btn-danger">
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
  <div class="float-right">
  <form action="{{ url_for( 'set_advanced' ) }}" method="post">
      <input type="hidden" name="_method" value="SETADVANCED">
      <input type="hidden" name="sort" value="{{ sort }}">
      <input type="hidden" name="sort_order" value="{{ sort_order }}">
      <input type="submit" value="Toggle advanced mode {{ next_mode }}" class="btn btn-danger">
  </form>
  </div>
  <br>
  <br>
  
  <script>
  (function countdown(remaining) {
      document.getElementById('countdown').innerHTML = '<i class="fa fa-refresh mr-1"></i> Refresh list in ' + remaining + ' seconds';
      
      if(remaining <= 0) {
          location.reload(true);
      } else {
          setTimeout(function(){ countdown(remaining - 1); }, 1000);
      }
  })(60); // 60 seconds
  </script>
{% endblock %}
