{% extends 'layout.html' %}

{% macro sort_link(column, title, sort, order_next, filters, daterange) %}
{% if column == sort %}
  <a href="/jobscompleted?filters={{ filters }}&daterange={{ daterange }}&sort={{ column }}&order={{ order_next }}">{{ title }}</a>
  {% if order_next == 'desc' %}
    <i class="fa fa-sort-up"></i>
  {% else %}
    <i class="fa fa-sort-down"></i>
  {% endif %}
{% else %}
  <a href="/jobscompleted?filters={{ filters }}&daterange={{ daterange }}&sort={{ column }}&order=asc">{{ title }}</a>
{% endif %}
{% endmacro %}

{% block body %}
  <h2>Job History</h2>

  <div class="btn-group">
    {% if filters == 'none' %}
      <a href="/jobscompleted?filters=none&daterange={{ daterange }}&sort={{ sort }}&order={{ sort_order }}" class="btn btn-primary active">Any Status</a>
      <a href="/jobscompleted?filters=printed&daterange={{ daterange }}&sort={{ sort }}&order={{ sort_order }}" class="btn btn-primary">Completed Only</a>
    {% else %}
      <a href="/jobscompleted?filters=none&daterange={{ daterange }}&sort={{ sort }}&order={{ sort_order }}" class="btn btn-primary">Any Status</a>
      <a href="/jobscompleted?filters=printed&daterange={{ daterange }}&sort={{ sort }}&order={{ sort_order }}" class="btn btn-primary active">Completed Only</a>
    {% endif %}
  </div>

  <form class="form-inline float-right">
    <div class="form-group mx-sm-3 mb-2">
      <label for="daterange" class="sr-only">Date Range:</label>
      <input type="text" name="daterange" id="daterange" value="{{ daterange }}" class="form-control" />
    </div>
    <input type="hidden" name="filters" id="filters" value="{{ filters }}" />
    <input type="hidden" name="sort" id="sort" value="{{ sort }}" />
    <input type="hidden" name="order" id="order" value="{{ sort_order }}" />
    <button type="submit" class="btn btn-primary mb-2">Go</button>
  </form>

  <script>
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    });
  });
  </script>

  <br><br>

  <table class="table table-striped">
    <tr>
      <th class="text-center">Job</th>
      <th>{{ sort_link('job-originating-user-name', 'User', sort, sort_order_next, filters, daterange) }}</th>
      <th>{{ sort_link('job-name', 'Document', sort, sort_order_next, filters, daterange) }}</th>
      <th>{{ sort_link('job-printer-uri', 'Printer', sort, sort_order_next, filters, daterange) }}</th>
      <th>{{ sort_link('job-k-octets', 'Size', sort, sort_order_next, filters, daterange) }}</th>
      <th>{{ sort_link('printed-pages', 'Pages', sort, sort_order_next, filters, daterange) }}</th>
      <th>{{ sort_link('time-at-completed', 'Time completed', sort, sort_order_next, filters, daterange) }}</th>
      <th>{{ sort_link('job-state', 'Status', sort, sort_order_next, filters, daterange) }}</th>
    </tr>
    {% for job in jobs %}
    <tr>
      <td class="align-middle text-center"><a href="jobs/{{job['job-id']}}" >{{job['job-id']}}</a></td>
      <td class="align-middle">{{ job.get('job-originating-user-name', '') | truncate(12) }}</td>
      <td class="align-middle">{{ job.get('job-name', '') | truncate(25, True) }}</td>
      <td class="align-middle">{{ job.get('job-printer-uri', '') | queuefromuri | truncate(20, True) }}</td>
      <td class="align-middle">{{ (job['job-k-octets']*1024) | filesizeformat }}</td>
      <td class="align-middle">{{ job.get('printed-pages', 0) }}</td>
      <td class="align-middle">{{ job.get('time-at-completed', 'None') | datetimefilter }}</td>
      <td class="align-middle">{{ job.get('job-state', 0) | jobstate }}</td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock %}
